/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06 1, 17, 2:28:45 PM
    Author     : user
*/

.cm-footer {
    background-color: rgb(18, 66, 97);
    color: #fff;
}

.form-group.required .input-label:after {
  content:" * ";
  color:red;
}

.toolbar {
    float: left;
}

/* Override Clearmin a hover color property to black */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #000;
}

.btn i.fa {
    margin-right: 5px;
}

.dt-body-center {
    text-align: center;
}

/*-- Custom CSS Panel --*/

.user-info-panel .panel-heading{
  text-align: left;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  over-flow: hidden;
  padding: 0 115px 0 50px;
  line-height: 50px;
}